---
import { getAndGroupUniqueTags } from "../../lib/utils";
import { PROFILE } from "../../content/profileData";


const tagsMap = await getAndGroupUniqueTags();

const skills = PROFILE.skills;
---

<div class="flex flex-col gap-2 animate-appear">
  <p class="text-sm font-light mb-1">
    {PROFILE.headLine}
  </p>

  <p class="text-md mb-1 font-medium">
    {PROFILE.headLine2}
  </p>

  <hr/>

  <p class="text-sm font-light">
    I use the following technologies:
  </p>
  <ul class="list-inside list-disc">
    {
      skills.map((skill) => {
        if (tagsMap.has(skill)) {
          return (

            <li>
              <a href=`/tags/${skill}` class=" hover:font-bold">
                {skill}
              </a>
            </li>
          )
        } else {
          return (
            <li>
              <span>
                {skill}
              </span>
            </li>
          )
        }

      })
    }
  </ul>

  <p class="text-sm font-light">
    More about my <a href="/projects" class="underline hover:font-bold">Projects</a> and my <a href="/experiences"
                                                                                               class="underline hover:font-bold">Experiences</a>.
  </p>
</div>

