---
import BaseLayout from '../layouts/BaseLayout.astro'
import TopLayout from '../layouts/TopLayout.astro'
import BottomLayout from '../layouts/BottomLayout.astro'
import ProjectCard from '../components/ProjectCard.astro'

import type { EntryFieldTypes } from 'contentful'

interface Project {
  contentTypeId: 'Projects'
  fields: {
    name: EntryFieldTypes.Text
    img: EntryFieldTypes.AssetLink
    website: EntryFieldTypes.EntryResourceLink<any>
    repositorio: EntryFieldTypes.EntryResourceLink<any>
  }
}

// read mdx files from projects folder as entities
const projects = await Astro.glob('./projects/*.mdx');

// sort projects by dateStart DESC
projects.sort((a: any, b: any) => {
  return new Date(b.frontmatter.dateStart) - new Date(a.frontmatter.dateStart);
});
---

<BaseLayout
  title="Projects"
  description="Projects I have worked on"
>
  <main class="flex min-h-[80vh] flex-auto flex-col" transition:animate="slide">
    <TopLayout>
      <h2
        class="scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0 text-center"
      >
        My Projects
      </h2>
    </TopLayout>
    <BottomLayout>
      <div class="flex w-full flex-wrap justify-center gap-2">
        {
          projects.map((entity: any) => (
            <ProjectCard
              class="w-full sm:w-2/5"
              key={entity.frontmatter.title}
              href={entity.url}
              heading={entity.frontmatter.title}
              subheading={entity.frontmatter.description}
              altText={'screenshot of ' + entity.frontmatter.title}
              imagePath={entity?.frontmatter?.ogImage}
              dateStart={entity.frontmatter.dateStart}
            />
          ))
        }
      </div>
    </BottomLayout>
  </main>
</BaseLayout>
