---
import '@/styles/globals.css'

interface Props {
  title?: string
  description?: string
  ogImage?: URL
  canonicalURL?: URL
}

const {title, description, ogImage, canonicalURL} = Astro.props
const canonical = canonicalURL? canonicalURL: new URL(Astro.url.pathname, Astro.site)
---

<meta charset="utf-8"/>
<meta name="robots" content="index, follow"/>
<meta name="googlebot" content="index, follow"/>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="generator" content={Astro.generator}/>
<link rel="canonical" href={canonical}/>
<link
  rel="shortcut icon"
  type="image/svg+xml"
  href={`${Astro.site}favicon.ico`}
/>
<title>{title}</title>
<meta name="title" content={title}/>
<meta name="description" content={description}/>

<meta property="og:type" content="website"/>
<meta property="og:url" content={canonical}/>
<meta property="og:title" content={title}/>
<meta property="og:description" content={description}/>
{
  ogImage ?
  <>
    <meta property="og:image" content={ogImage}/>
    <meta property="twitter:image" content={ogImage}/>
  </>:
  <></>
  }

<meta property="twitter:card" content="summary_large_image"/>
<meta property="twitter:url" content={canonical}/>
<meta property="twitter:title" content={title}/>
<meta property="twitter:description" content={description}/>

<link rel="preload" href="shttps://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"></noscript>
