---
import { getCollection } from 'astro:content';
import MDXLayout from "../../layouts/MDXLayout.astro";


/**
 This is the dynamic route for projects
 **/
export async function getStaticPaths() {
  const booksEntries = await getCollection('books');
  return booksEntries.map(entry => ({
    params: {slug: entry.slug}, props: {entry},
  }));
}

const {entry} = Astro.props;
const {author, readYear} = entry.data;
const {Content} = await entry.render();
---

<MDXLayout frontmatter={entry.data}>
  {
    author &&
    <div class="text-sm font-light italic">Book Author: {author}</div>
  }
  {
    readYear &&
    <div class="text-sm font-light italic">Read Year: {readYear}</div>
  }
  <Content/>
</MDXLayout>
