---
import { getCollection } from "astro:content";
import { formateLocalDate, formateLocalMonth } from "../../lib/utils";
import { Badge } from "../../components/ui/badge";
import IndexPageLayout from "../../layouts/IndexPageLayout.astro";
import { TableCell, TableRow, Table, TableHeader, TableHead, TableBody } from "../../components/ui/table";
import { ArrowRight } from "lucide-react";
import ContentTags from "../../components/ContentTags.astro";

const books = await getCollection('books');

books.sort((a, b) => {
  return new Date(b.data.startDate) - new Date(a.data.startDate);
});
---
<IndexPageLayout title="Books I have read"
                 description="I like to read books, both fiction and non-fiction. Here are some of the books I have read."
                 subTitle="Books">

  <Table>
    <TableBody>
      {
        books.map((entry) => (
          <TableRow key={entry.slug}>
            <TableCell className="font-medium ">
              <div class="flex flex-col gap-1 min-w-20">
                <a
                  href={'/books/' + entry.slug ?? ''}
                  class={`font-semibold hover:font-extrabold ${entry?.slug ? 'text-primary' : 'text-foreground'}`}
                >
                  {entry.data.title}
                </a>
                <div class="mb-4 text-sm">
                  {entry.data.author}
                </div>

              </div>
            </TableCell>
            <TableCell>
              <div class="ml-4 flex p-2 flex-col gap-2  text-sm max-w-lg min-w-16 ">
                {entry.data.company}

                <ContentTags tags={entry.data.tags} />

              </div>
            </TableCell>
            <TableCell>
              <a href={'/books/' + entry.slug}>
                <ArrowRight/>
              </a>
            </TableCell>
          </TableRow>
        ))
      }
    </TableBody>
  </Table>

</IndexPageLayout>
