---
import ContentTags from "../components/ContentTags.astro";
import IndexPageLayout from "./IndexPageLayout.astro";

const {frontmatter} = Astro.props;
const {title, description, image, startDate, tags, canonical} = frontmatter;
// frontmatter is from MDX metadata for MD pages, we now use content for data now, we use frontmatter for backward compatibility
---

<IndexPageLayout title={title} description={description} image={image} subTitle={title} canonicalURL={canonical}>
  <div class="w-full justify-center flex flex-col">
    {tags &&
      <div class="pb-4 mx-auto">
        <ContentTags tags={tags}/>
      </div>}

    {
      startDate &&
      <div class="text-sm text-light my-2 sr-only mx-auto">
        {startDate}
        <!--  screen reader only date-->
      </div>
    }

    <article class="prose mx-auto dark:prose-invert ">
      <!--required with tailwind typography plugin + prose to render html-->
      <slot/>
    </article>
  </div>

</IndexPageLayout>
