---
import BaseLayout from './BaseLayout.astro';
import CustomisedBreadCrumbs from "../components/CustomisedBreadCrumbs.astro";
import BottomLayout from "./BottomLayout.astro";

const {frontmatter} = Astro.props;
const {title, description, image, startDate} = frontmatter;
// frontmatter is from MDX metadata for MD pages, we now use content for data now, we use frontmatter for backward compatibility
---

<BaseLayout title={title} description={description} ogImage={image?.url}>
  <main class="flex min-h-[80vh] flex-auto flex-col p-4" transition:animate="fade">
    <CustomisedBreadCrumbs/>

    <h2 class="text-2xl font-bold py-4 font-sans">
      {title}
    </h2>

    <div class="text-sm text-light my-2 sr-only">{startDate}</div>

        <div class="prose ">
          <!--required with tailwind typography plugin + prose to render html-->
          <slot/>
        </div>

  </main>
</BaseLayout>
